data/
notebook_exploratory/Exploratory_Figures/
.DS_Store
External/StochasticForceInference/

Results/
Endpoints_*.csv
*.log

Endpoints_*.csv
*.csv

Data/
Results/
thesis_env/
__pycache__/
*.pyc
*.log

Results_new/